<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
        <img src="<%= user.picture %>" class="card-img-top" alt="User Picture" style="width: min-content;">
            <h5>Korisnik</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>SUB:</strong> <%= user.sub %> </li>
                <li class="list-group-item"><strong>Nadimak:</strong> <%= user.nickname %> </li>
                <li class="list-group-item"><strong>Ime:</strong> <%= user.name %></li>
                <li class="list-group-item"><strong>Email:</strong> <%= user.email %></li>
                <li class="list-group-item"><strong>Email Verificiran:</strong> <%= user.email_verified %></li>
            </ul>
        </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
